@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-50;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #475569 #020617;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #020617;
}

*::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 9999px;
  border: 2px solid #020617;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}